/* ----- Input ----- */
.cctdropdown-dropdown > input[name="hidden"] {
  /* Hide this */
  display: none;
}

/* ----- Label Bar ----- */
.cctdropdown-dropdown label {
  background-color: #001C48;
  color: #ffffff;
  cursor: pointer;
  text-align: left;
  padding: 18px ;
  display: block;
  font-weight: 600 !important;
}
.cctdropdown-dropdown label:hover,
.cctdropdown-dropdown label:focus {
  background-color: #1E5288;
}

/* Set ::before to "+" */
.cctdropdown-dropdown .handle label:before {
  content: "+";
  margin: 10px;
  font-size: 16px;
}
/* Change before to "-" */
.cctdropdown-dropdown > input[name="hidden"]:checked ~ .handle label:before {
  content: "\2212";
}

.cctdropdown-dropdown .content {
  background-color: #ffffff;
  height: 0;
  padding: 0 18px;
  overflow-y: auto;
}
.cctdropdown-dropdown > input[name="hidden"]:checked ~ .content {
  height: auto;
}